<li>
	{{id}}.
	{{burger_name}}

	{{#unless devoured}}
	<button class="change-eaten" data-id="{{id}}" data-neweat={{devoured}}>
		TIME TO EAT!
	</button>
	{{/unless}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>